<footer class='mt-5'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-5">
                <h1 class="text-light">PROFFER</h1>
                <p class="text-light">Proffer is a very unique movie raitng platform where opinion of experts reflects on overall rating</p>
            </div>

            <div class="col-md-6 col-sm-12 p-5">
                <h4 class="text-light">Follow Us</h4>
                <div class="column">
                    a(href="#") <i class="fab fa-facebook text-light fa-2x mr-3"></i>
                    a(href="#") <i class="fab fa-instagram text-light fa-2x mr-3"></i>
                    a(href="#") <i class="fab fa-linkedin text-light fa-2x "></i>
                    
                </div>
            </div>
        </div>
        <p class="pt-4 text-light text-center p-3 m-0">
            Copyright ©2021 All rights reserved|<span>Proffer</span>
        </p>
    </div>
</footer>